body{
	font-family: 'Raleway';
	background-color: rgb(59, 59, 59);
}

main section#carousel figure.carousel-current-item{
	width:900px;
	height:500px;
	border-radius:20px;
	display: none;
	overflow: hidden;
}

main section#carousel figure.carousel-current-item img{
	height:100%;
	width:100%;
	object-fit: cover;
}

main section#carousel figure.carousel-current-item.active{
	display:inline-block;
}


main section#carousel .carousel-thumbnails-item{
	display: inline-block;
	border-radius:20px;
	box-shadow:1px 1px 10px 10px rgb(27, 27, 27);
	width:172px;
	height:100px;
	margin:5px;
}

main section#carousel .carousel-thumbnails-item img{
	width:100%;
	height:100%;
	object-fit: cover;
}


main section#carousel i.fas{
	color:rgb(85, 85, 85);
	cursor:pointer;
	z-index: 1;
	bottom:5.1rem;
	padding: 0.65rem .9rem;
	border-radius:50%;
	background-color: rgb(228, 228, 228,.8);
}

main section#carousel i.fas:first-of-type{
	right:13rem;
}

main section#carousel i.fas:last-of-type{
	left:13rem;
}