body{
	font-family: 'Raleway';
	background-color: rgb(50, 50, 50);
}

.my-full-size{
	width:100%;
	height:100%;
}

.my-filter{
	filter: brightness(.65);
}

div.row{
	height:100vh;
}

main section#carousel{
	width:800px;
}

main section#carousel figure.carousel-current-item{
	border-radius:10px;
	display: none;
	overflow: hidden;
	box-shadow:1px 1px 14px 10px rgb(19, 19, 19);
}

main section#carousel figure.carousel-current-item img{
	height:500px;
	width:100%;

}

main section#carousel figure.carousel-current-item img,
main section#carousel .carousel-thumbnails-item img{
	object-fit: cover;
}

main section#carousel figure.carousel-current-item.active{
	display:inline-block;
}


main section#carousel .carousel-thumbnails-item{
	display: inline-block;
	border-radius:20px;
	box-shadow:1px 1px 10px 10px rgb(27, 27, 27);
	width: calc((100% / 5) - 10px);
	height:80px;
	margin:0 5px;
}


main section#carousel i.fas{
	color:rgb(85, 85, 85);
	cursor:pointer;
	z-index: 1;
	top: 50%;
	border-radius:50%;
	transform: translateY(-50%);
	padding: 0.65rem .9rem;
	background-color: rgb(228, 228, 228,.8);
}

main section#carousel i.fas:first-of-type{
	right:4rem;
}

main section#carousel i.fas:last-of-type{
	left:4rem;
}