body{
	font-family: 'Raleway';
	background-color: rgb(59, 59, 59);
}

main section#carousel{
	width:1100px;
}

main section#carousel .carousel-current-item.active{
	display:inline-block;
}

main section#carousel .carousel-current-item{
	display: none;
	width:900px;
	height:500px;
	overflow: hidden;
}

main section#carousel .carousel-current-item img{
	height:100%;
	width:100%;
	object-fit: cover;
}

main section#carousel .carousel-thumbnails-item{
	display: inline-block;
	width:180px;
	height:100px;
}

main section#carousel .carousel-thumbnails-item img{
	width:100%;
	height:100%;
	object-fit: cover;
}


main section#carousel i.fas{
	color:rgb(85, 85, 85);
	cursor:pointer;
	z-index: 1;
	bottom:5.1rem;
	padding: 0.65rem .9rem;
	border-radius:50%;
	background-color: rgb(228, 228, 228);
}

main section#carousel i.fas:first-of-type{
	right:7rem;
}

main section#carousel i.fas:last-of-type{
	left:7rem;
}